<div id="search-component">
  <label for="search-box">Hero Search</label>
  <input id="search-box" [(ngModel)]="searchTerm" (input)="searchHeroes()" placeholder="Hero name" />

  <ul class="search-result">
    <li *ngFor="let hero of heroes">
      <a routerLink="/hero/detail/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>
</div>

<!--<div id="search-component">
  <label for="search-box">Hero Search</label>
  <input id="search-box" [(ngModel)]="hero.name" placeholder="Hero name" />

  <ul class="search-result">  <!--asp-controller="Hero" asp-action="SearchHero"--
<li *ngFor="let hero of heroes">
  <a routerLink="/hero/detail/{{hero.id}}">
    {{hero.name}}
  </a>
</li>
  </ul>
</div>-->
